.Button{
  // Reset:
  // ======
  background-color: transparent;
  border: none;
  font-size: var(--normal-font-size);
  // colors:
  // =======
  &.white{
    color: white;
  }
  &.gray{
    color: #545e5f;
  }
  &.red-background{
    background-color: #f62434;
  }
  &.blue-background{
    background-color: var(--primary-color);
  }
}