:root{
  // colors:
  // =======
  --primary-color: #0056a8;
  --secondary-color: #fff;

  // Fonts:
  // ======
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}